.default-color {
    background-color: #0d47a1 !important;
}
.btn-default {
    background-color: #0d47a1 !important;
}
.primary-color {
    background-color: #1F7588 !important;
}
.btn-primary {
    background-color: #1F7588 !important;
}
.secondary-color {
    background-color: #A82E64 !important;
}
.btn-secondary {
    background-color: #A82E64 !important;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

p {
}


/*
 #0d47a1 mdb default dark blue
 #4285F4 mdb primary blue
 #1F7588 uvooapp tiel
 # 6CBBCF mdb secondary light blue
 # uvooapp redish/maroon A82E64


/*


/*.container {
    width: 450px;
    overflow: auto;
}
*/

h1 {
    font-family: Roboto, sans-serif;
}

.toast-container {
  position:absolute;
  top:55px;
  width:300px;
  height:auto;
  left:50%;
  margin:0 0 0 -150px;
}

/* For small screen */
/*.stripe-divs :nth-child(even){
  background-color: #dcdcdc;
}
.stripe-divs :nth-child(odd){
  background-color: #aaaaaa;
}*/

/* For medium screen */
/*@media (min-width: 768px) {
    .row :nth-child(4n), .row :nth-child(4n-1) {
        background: #dcdcdc;
    }
    .row :nth-child(4n-2), .row :nth-child(4n-3) {
        background: #aaaaaa;
    }
}*/

/* For large screen */
/*@media (min-width: 992px) {
    .row :nth-child(6n), .row :nth-child(6n-1), .row :nth-child(6n-2) {
        background: #dcdcdc;
    }
    .row :nth-child(6n-3), .row :nth-child(6n-4), .row :nth-child(6n-5) {
        background: #aaaaaa;
    }
}*/


/* Colors
danger-color
#ff4444
danger-color-dark
#CC0000
warning-color
#ffbb33
warning-color-dark
#FF8800
success-color
#00C851
success-color-dark
#007E33
info-color
#33b5e5
info-color-dark
#0099CC
MD Bootstrap Colors
default-color
#2BBBAD
default-color-dark
#00695c
primary-color
#4285F4
primary-color-dark
#0d47a1
secondary-color
#aa66cc
secondary-color-dark
#9933CC
Dark Theme
elegant-color
#2E2E2E
elegant-color-dark
#212121
stylish-color
#4B515D
stylish-color-dark
#3E4551
*/

/* More colors
#4caf50 - green
#0d47a1 dark yellow

.primary-color {
    background-color: #4caf50!important;
}
.btn-primary {
    background-color: #4caf50!important;
}

.primary-color-dark {
    background-color: #2e7d32!important;
}
.secondary-color {
    background-color: #4caf50!important;
}

.btn-secondary {
    background-color: #4caf50!important;
}

.secondary-color-dark {
    background-color: #2e7d32!important;
}
*/
