{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Demo Portal - Login to Experience the Fire</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.css" integrity="sha256-d9unWnwoeK0nP6kAvt0C4/OlWo62e/RqKK/vvelKwfQ=" crossorigin="anonymous" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha256-ENFZrbVzylNbgnXx0n3I1g//2WeO47XxoPe0vkp3NC8=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> 
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="icon" 
          type="image/png" 
          href="{{ url_for('static', filename='favicon.png') }}">
    <style>
        .navbar div {
            font-weight: bold;
            font-size: large;
        }
        .btn {
            font-weight: bold;
            font-size: large;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="toast-container mx-auto"></div>
</div>
<main class="container">
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo-uvooapp-1220x400.png') }}" width="60" height="30" 
                class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                {{ render_nav_item('index', 'Home', use_li=True) }}
                {% block content_nav %}
                    {% if current_user.is_authenticated %}
						{# render_nav_item('licenses', 'Licenses', use_li=True) #}
						{{ render_nav_item('services', 'Services', use_li=True) }}
						{# render_nav_item('accesstokens', 'Access Tokens', use_li=True) #}
						{# render_nav_item('containers', 'Containers', use_li=True) #}
						{# render_nav_item('container_ports', 'Container Ports', use_li=True) #}
						{{ render_nav_item('keys', 'Keys', use_li=True) }}
						{{ render_nav_item('profile', 'Profile', use_li=True) }}
						{{ render_nav_item('reset', 'Password', use_li=True) }}
						{{ render_nav_item('logout', 'Log out', use_li=True) }}
                    {% else %}
                        {{ render_nav_item('login', 'Log in', use_li=True) }}
                        {{ render_nav_item('register', 'Register', use_li=True) }}
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </nav>

    <br>
    <br>
    <br>

    {% block content_notification_messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
        <script> 
            toastr.options = {
                positionClass: 'toast-container',
                timeOut: 9000,
                fadeIn: 300,
                fadeOut: 9000
            };
            toastr.{{category}}("{{ message }}")
        </script>
            {% endfor %}
          {% endif %}
        {% endwith %}
    {% endblock %}



<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
<!--
            positionClass: 'toast-top-center',
    "positionClass": "your-classname-here",
        {% set category = 'info' %}
        toastr.warning("{{ message }}")
    Alternate notification messages (not using toastrjs)
{% block content_messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Title</strong> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
{% endblock %}
-->


    {% block content %}{% endblock %}
    <br>
    <br>
    <br>
    <footer class="text-center">
        {% block footer %}
            <div class = "text-center">
                <img src="{{ url_for('static', filename='logo-270x270.png') }}" width="18" height="18" 
                    class="d-inline-block align-top" alt="">
            </div>
            <small> &copy; 2018 <a href="https://uvoo.io" title="Demo Corporation">Demo</a>
            </small>
        {% endblock %}
    </footer>
</main>

{{ bootstrap.load_js() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/js/mdb.min.js"></script>

<script>
    $( document ).ready(function() {
        $('td').addClass('align-middle');
    });
</script>

</body>
</html>
