{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}

<div class="card mx-auto" style="width:20rem;margin:20px 0 24px 0">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Password Reset</strong>
  </h5>

  <div class="card-body px-lg-5 pt-0">
    <form method="post" class="text-center" style="color: #757575;">
      <div class="md-form">
        <input id="email" name="email" type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="off" required>
        <label for="email">E-mail</label>
      </div>
      <button name="submit_button" id="submit_button" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" value="send_reset" type="submit">Send Reset Link</button>
      <p> This will send a reset url link to a valid email in your account. Link is valid for 10 minutes.
      </p>
    </form>
  </div>
</div>

{% endblock %}
