{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <h1 class="text-center">Welcome to Demo Portal!</h1>
    <p class="text-center">Your portal to DemoApp resources!</p>
    {% if current_user.is_authenticated %}
        <h1 class="text-center">Hello, {{ current_user.username }}!</h1>
    {% else %}
    <p class="text-center font-weight-bold">Please <a href="{{ url_for('register') }}">Register</a> 
    or <a href="{{ url_for('login') }}">Login</a>.
    </p>
    {% endif %}
{% endblock %}
