{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}
  <br>
  <br>
  <div align="center">
    <div class="card" align="center" style="width: 350px">
      <div class="card-body" align="center">
        <h1 class="card-title">User Profile</h1>
        {{ render_form(form) }}
        <br>
      </div>
    </div>
    <br>
    *Disabling 2FA significantly decreases security. 
    <br>
    <br>
    Make sure screen is not viewable by person/camera before clicking button below.
    <br>
    <a href="{{ url_for('twofactorauth') }}"><button type="button" class="btn btn-primary">View/Update 2FA Secret</button></a>
  </div>
{% endblock %}
